[Unit]
Description=Etcd Server
After=network.target
 
[Service]
Type=simple
#etcd logs to the journal directly, suppress double logging
StandardOutput=null
WorkingDirectory=/opt/etcd
ExecStart=/opt/etcd/etcd
 
[Install]
WantedBy=multi-user.target